<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ILogin" />
                <binding name="WSDualHttpBinding" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/TriviaContract" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ILogin" contract="TriviaServer.ILogin"
                name="WSDualHttpBinding_ILogin">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/TriviaContract" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding" contract="TriviaServer.IGame"
                name="WSDualHttpBinding_IGame">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>